<h1>{{name}}</h1>

<dl>
    <td>Nombre:</td>
    <dd> {{name}} </dd>

    <td>Edad:</td>
    <dd> {{age}} </dd>

    <td>Metodo:</td>
    <dd> algun Metodo </dd>

    <td>Capitalizado:</td>
    <dd> nombre capitalizado </dd>
</dl>


<button *ngIf="showHeroButton" (click)="changeHero()" class="btn btn-primary mx-2">Cambiar nombre</button>

<button *ngIf="showAgeButton" (click)="changeAge()" class="btn btn-primary">Cambiar edad</button>

<button (click)="ResetForm()" class="btn btn-primary mx-2">Reset</button>